# vscode ================================
.vscode/*

# CMake ================================
build/*
!build/CMakeLists.txt

bin/*
!bin/UE_Server
!bin/libproto.so
!bin/libpublic.so

config/*
!config模板.ini